---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

.editor-image {
  max-width:200px;
  border-radius:50%;
}

.nonce-background-cover {
  background-image: url({{ site.cover | prepend: "/" }});
}

.caesura {
  display: inline-block;
  width: 50px;
}