---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: "/" }});"{% endif %}>
	<div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header">
		  <h1 class="title">{{ site.title }}</h1>
		  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</header>
	</div>
</div>

<div class="wrapper">

  <p>Welcome! We are a new literary press interested in publishing poetry written in Old English and other extinct Germanic languages by modern writers.</p>

  <p>Our journal <i>Eala</i> is currently <b><a href="/eala/">open for submissions</a></b>.</p>

</div>
</div>
