---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %} {% if site.cover %}nonce-background-cover{% endif %}" >
	<div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header">
		  <h1 class="title">{{ site.title }}</h1>
		  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</header>
	</div>
</div>

<div class="wrapper">

  <p>Hwæt! We are the only literary press publishing poetry written in Old English and other extinct Germanic languages, by modern writers.</p>

	<br />
	<br />

	{% include page_divider.html %}

	<h3>Recently Published Work</h1>

	<article class="post-content">
		<ul class="posts-list">
			{% for post in site.posts %}
			<li><a class="post-link" href="{{ post.url }}">{{ post.title }} ({{ post.categories }})</a> by {{ post.author }}<span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span></li>
			{% endfor %}
		</ul>

	</article>

	<br />

	{% include page_divider.html %}

	<br />
	<p><b><a href="http://eepurl.com/dGv4wP">Sign up for our newsletter</a></b> to recieve emails when new work is published.</p>
	<p>Our online journal <i>Eala</i> is <b><a href="/eala/">open for submissions</a></b>.</p>

</div>
</div>
